@charset "UTF-8";
#logo-soc {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 1000; }

.logo {
  width: 180px; }

#soc {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  position: fixed;
  right: 0;
  top: 8px; }
  #soc a {
    margin: auto;
    text-decoration: none; }
  #soc a span {
    border-bottom: 1px dashed black;
    margin-right: 20px;
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 1px;
    color: black !important;
    background-color: rgba(225, 225, 225, 0.7); }
  #soc i {
    font-size: 35px;
    color: #e093be;
    margin: 0 0 0 0.5em;
    max-height: 1em;
    transition: all 0.5s; }
    #soc i:hover {
      color: #9796f0; }

#button {
  width: 50%;
  margin: 100px auto;
  line-height: 1.6; }
  @media (max-width: 812px) {
    #button {
      width: 70%; } }
  #button h3 {
    font-size: 20px !important;
    font-family: inherit;
    font-weight: 800;
    text-align: center; }
    @media (max-width: 1024px) and (orientation: portrait) {
      #button h3 {
        font-size: 20px !important; } }
    @media (min-width: 1800px) {
      #button h3 {
        font-size: 30px; } }

#button-container {
  width: 100%;
  display: flex; }

#support-us {
  width: auto;
  background-color: #e093be !important;
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  font-weight: 800;
  font-size: 18px;
  margin: auto;
  cursor: pointer; }
  @media (max-width: 1024px) and (orientation: portrait) {
    #support-us {
      font-size: 20px !important; } }
  @media (min-width: 1800px) {
    #support-us {
      font-size: 20px; } }

#created_texty {
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin: 4em 15% 4em 15%; }
  #created_texty i {
    box-sizing: content-box;
    margin: 0.5em;
    cursor: pointer;
    width: 1em;
    height: 1em;
    border: 1px solid #e093be;
    color: #e093be;
    border-radius: 50%;
    padding: 0.5em;
    font-size: 1.5em;
    line-height: 1;
    transition: all 0.5s; }
    #created_texty i:hover {
      border: 1px solid #9796f0;
      color: #9796f0; }
  #created_texty img {
    max-height: 3.5em;
    max-width: 300px; }
  #created_texty div {
    text-align: center; }
  #created_texty h3 {
    text-align: center;
    font-size: 1.5rem; }

@font-face {
  font-family: DIETDIDOT;
  font-weight: normal;
  src: url("../font/DIETDIDOT.OTF") format("embedded-opentype"); }
@font-face {
  font-family: DIETDIDOT;
  font-weight: bold;
  src: url("../font/DIETDIDOT-BOLD.OTF") format("embedded-opentype"); }
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%; }

img {
  width: 100%; }

header {
  max-width: 1600px;
  max-height: 100vh;
  position: relative;
  margin: auto;
  overflow-y: hidden; }
  header img {
    height: 100%;
    max-width: 100%; }
  header #title {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: max-content; }
    @media (max-width: 600px) {
      header #title {
        position: relative; } }
    header #title h1 {
      font-family: "DIETDIDOT", serif;
      text-align: center;
      font-size: 7vw;
      padding: 20px 0;
      margin: auto;
      line-height: 1;
      font-weight: bold; }
      @media (max-width: 600px) {
        header #title h1 {
          font-size: 50px; } }

/* Текст */
.text {
  max-width: 700px;
  width: 50%;
  margin: 10px auto; }
  @media (max-width: 812px) {
    .text {
      width: 90%;
      margin: auto; } }
  .text a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1.5px dashed #e093be;
    padding-bottom: 2px; }
  .text a:hover {
    color: #e093be; }

.pink {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 30px;
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  color: #e093be;
  width: 70%;
  max-width: 900px;
  margin: 50px auto auto auto;
  text-align: center; }
  @media (max-width: 812px) {
    .pink {
      font-size: 20px;
      width: 90%;
      margin: auto; } }

ul {
  padding: 0;
  list-style-type: none; }

h2 {
  margin-top: 50px !important;
  text-transform: uppercase;
  font-weight: bold; }

p, li {
  font-size: calc(15px + 0.3vw);
  line-height: 1.6; }
  p span, li span {
    color: #e093be;
    font-size: 22px;
    font-weight: bold; }

li {
  padding: 0;
  color: #e093be; }

.incut {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 800px;
  width: 60%;
  margin: 30px auto;
  text-transform: uppercase;
  font-size: calc(30px + 0.5vw);
  color: #e093be;
  text-align: center; }
  @media (max-width: 812px) {
    .incut {
      width: 90%;
      font-size: calc(25px + 0.5vw); } }

.hint {
  font-size: 16px;
  color: #e093be; }

#test-answer {
  color: #e093be;
  margin-bottom: 5vw;
  min-height: 100px; }

/* Графіка */
#interactive1 {
  width: calc(22 * 3.5vw);
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 3.5vw);
  grid-auto-rows: 3.5vw; }
  #interactive1 .item-wrapper {
    display: grid; }
  #interactive1 img {
    cursor: pointer;
    max-width: 100%; }
  #interactive1 .tooltip {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto; }

#interactive2 {
  width: 60%;
  margin: 50px auto 10px auto;
  border-top: 1px solid #e093be;
  border-bottom: 1px solid #e093be; }
  @media (max-width: 812px) {
    #interactive2 {
      width: 90%; } }
  #interactive2 svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: -3vw auto; }
    #interactive2 svg text {
      font-family: 'ProximaNova-Medium';
      font-weight: 300;
      cursor: pointer;
      font-size: 65px;
      transition: all 0.1s; }
    #interactive2 svg text tspan {
      transition: all 0.1s; }

#zoom {
  width: 90%;
  height: 90%;
  margin: 50px auto;
  border-top: 1px solid #e093be;
  border-bottom: 1px solid #e093be; }
  #zoom svg {
    width: 100%;
    height: 100%;
    margin: auto; }
  #zoom canvas {
    width: 100%; }

#arrow-down {
  cursor: pointer;
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #e093be; }

#arrow-up {
  cursor: pointer;
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #e093be; }

.tooltip {
  padding: 3px;
  background-image: linear-gradient(to right, #9796f0, #e093be);
  font-size: calc(14px + 0.4vw);
  z-index: 1000; }

/*# sourceMappingURL=styles.css.map */
