@import "base";


@font-face {
  font-family: DIETDIDOT;
  font-weight: normal;
  src: url('../font/DIETDIDOT.OTF') format('embedded-opentype');

}

@font-face {
  font-family: DIETDIDOT;
  font-weight: bold;
  src: url('../font/DIETDIDOT-BOLD.OTF') format('embedded-opentype');
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}


img {
  width: 100%;
}

header {
  //max-width: 1600px;
  max-height: 100vh;
  position: relative;
  margin: auto;
  overflow-y: hidden;


  img {
    height: 100%;
    max-width: 100%;
  }

  #title {
    //margin-top: -20vw;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    height: max-content;
    @media(max-width: 600px){
      margin-top: -10vh;
      position: relative;
    }


    h1 {
      font-family: "DIETDIDOT", serif;
      text-align: center;
      font-size: 7vw;
      padding: 20px 0;
      margin: auto;
      line-height: 1;
      font-weight: bold;
      @media(max-width: 600px){
        font-size: 40px;
      }
    }
  }
}


/* Текст */
.text {
  max-width: 700px;
  width: 50%;
  margin: 10px auto;
  @media(max-width: 812px){
    width: 90%;
    margin: auto;
  }

  a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1.5px dashed $pink;
    padding-bottom: 2px;
  }

  a:hover {
    color: $pink;
  }
}

.pink {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 30px;
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink;
  width: 70%;
  max-width: 900px;
  margin: 50px auto auto auto;
  text-align: center;
  @media(max-width: 812px){
    font-size: 20px;
    width: 90%;
    margin: auto;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

h2 {
  margin-top: 50px !important;
  text-transform: uppercase;
  font-weight: bold;
}

p, li {
  font-size: calc(15px + 0.3vw);
  line-height: 1.6;

  span {
    color: #e093be;
    font-size: 22px;
    font-weight: bold;
  }
}

li {
  padding: 0;
  color: #e093be;
  //margin-top: 10px;
}

.incut {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  max-width: 800px;
  width: 60%;
  margin: 30px auto;
  text-transform: uppercase;
  font-size: calc(30px + 0.5vw);
  color: #e093be;
  text-align: center;
  @media(max-width: 812px){
    width: 90%;
    font-size: calc(25px + 0.5vw);
  }
}

.hint {
  font-size: 16px;
  color: $pink;
}

#test-answer {
  color: $pink;
  margin-bottom: 5vw;
  min-height: 100px;
}

/* Графіка */

#interactive1 {
  width: calc(22 * 3.5vw);
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 3.5vw);
  grid-auto-rows:  3.5vw;

  .item-wrapper {
    display: grid;
  }

  img {
    cursor: pointer;
    max-width: 100%
  }

  .tooltip {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;

  }
}

#interactive2 {
  width: 60%;
  margin: 50px auto 10px auto;
  border-top: 1px solid $pink;
  border-bottom: 1px solid $pink;
  @media(max-width: 812px){
    width: 90%;
  }

  svg {
    width: 100%;
    height: 100%;
    display: block;
    margin: -3vw auto;

    text {
      font-family: 'ProximaNova-Medium';
      //font-family: 'Roboto';
      font-weight: 300;
      cursor: pointer;
      font-size: 65px;
      transition: all 0.1s;
    }

    text tspan {
      transition: all 0.1s;
    }
  }
}



#zoom {
  width: 90%;
  height: 90%;
  margin: 50px auto;
  border-top: 1px solid $pink;
  border-bottom: 1px solid $pink;

  svg {
    width: 100%;
    height: 100%;
    margin: auto;
  }

  canvas {
    width: 100%;
  }
}

#arrow-down {
  cursor: pointer;
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $pink;
}

#arrow-up {
  cursor: pointer;
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid $pink;
}



//.tippy-box[data-theme~='pink'] {
  .tooltip {
    padding: 3px;
    background-image: linear-gradient(to right, #9796f0 , $pink);
    font-size: calc(14px + 0.4vw);
    z-index: 1000;
}

