
$pink: #e093be;
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

#zoom {
  max-width: 1400px;
  margin: auto;
}

img {
  width: 100%;
}

header {
  max-width: 1600px;
  position: relative;
  margin: auto;

  #title {
    margin-top: -20vw;
    display: flex;
    width: 100%;
    height: max-content;

    h1 {
      text-align: center;
      font-size: 7vw;
      padding: 20px 0;
      margin: auto;
      line-height: 1;
    }
  }
}


/* Текст */
.text {
  width: 40%;
  margin: 10px auto;
  @media(max-width: 812px){
    width: 90%;
    margin: auto;
  }
}

.pink {
  font-size: 25px;
  line-height: 1.6;
  font-weight: 400;
  text-transform: uppercase;
  color: $pink;
  width: 50%;
  margin: auto;
  text-align: center;
  @media(max-width: 812px){
    width: 90%;
    margin: auto;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

h2 {
  margin-top: 50px !important;
  text-transform: uppercase;
  font-weight: bold;
}

p, li {
  font-size: 18px;
  line-height: 1.6;

  span {
    color: #e093be;
    font-size: 22px;
    font-weight: bold;
  }
}

li {
  padding: 0;
  color: #e093be;
  margin: 10px 0;
}

.incut {
  width: 50%;
  margin: 30px auto;
  text-transform: uppercase;
  font-size: 35px;
  color: #e093be;
  text-align: center;
}

.hint {
  font-size: 14px;
  color: $pink;
}

#test-answer {
  color: $pink;
  margin-bottom: 80px;
  min-height: 50px;
}

/* Графіка */

#interactive1 {
  width: calc(22 * 3.5vw);
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 3.5vw);
  grid-auto-rows:  3.5vw;

  .item-wrapper {
    display: grid;
  }

  img {
    cursor: pointer;
    max-width: 100%
  }

  .tooltip {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: auto;

  }
}

#interactive2 {
  width: 50%;
  margin: auto;
  padding: 30px;
  border-top: 1px solid $pink;
  border-bottom: 1px solid $pink;



  svg {
    display: block;
    margin: auto;

    text {
      cursor: pointer;
      font-size: 8px;
      transition: all 0.5s;
    }
  }
}



#zoom {
  height: max-content;
  margin: 50px auto;
  border-top: 1px solid $pink;
  border-bottom: 1px solid $pink;
}

#arrow-down {
  cursor: pointer;
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid $pink;
}

#arrow-up {
  cursor: pointer;
  margin: 10px auto;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid $pink;
}



.tippy-box[data-theme~='pink'] {
  background-image: linear-gradient(to right, #9796f0 , $pink);
  position: absolute;
  text-align: center;
  width: max-content;
  min-height: 28px;
  color: black;
  font-size: calc(14px + 0.4vw);
  z-index: 1000;
}

